{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Авторизация</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'flash/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'flash/desktop/autorization.css' %}">
</head>
<body>
	<header>
		<h3><a href="/">Радио</a></h3>
	</header>
	<content>
		<div class="autorization">
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Send" >
			</form>
		</div>
	</content>
</body>
</html>