* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration-line: none;
}
header {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    background-color: #e6cbd9;
    height: auto;
    font-family: cursive;
}
content {
    display: flex;
    flex-direction: column;
    height: 900px;
    background-color: #f1e9ea;
    align-items: center;
}
table {
    background-color: white;
}
th {
    font-size: 24px;
    border: solid 1px black;
}
td {
    font-size: 24px;
    padding: 10px;
    border: solid 1px gray;
}
footer {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    background-color: #e6cbd9;
    height: auto;
    font-family: cursive;
}
