* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration-line: none;
}
header {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    background-color: #b0bdb0;
    height: auto;
    font-family: cursive;
}
content {
    display: flex;
    flex-direction: column;
    height: 900px;
    background-color: lightgray;
    align-items: center;
}
table {
}
th {
    font-size: 24px;
    border: solid 1px gray;
}
td {
    font-size: 24px;
    padding: 10px;
    border: solid 1px silver;
}
footer {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    background-color: #b0bdb0;
    height: auto;
    font-family: cursive;
}
#okno {
    width: 600px;
    height: 900px;
    text-align: center;
    padding-top: 800px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
#okno:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
  }
.close:hover {background: #e6e6ff;}